.input {
  display: flex;
  flex-grow: 1;
  color: white;
}

.input-placeholder {
  display: flex;
  flex-grow: 1;
  text-align: center;
  color: rgba(29, 26, 26, 0.7);
  margin-top: 10px;
  margin-left: 10px;
}

.input-placeholder:focus-visible {
  outline: none;
}

.input-placeholder_correct {
  border: 2px solid green;
}

.input-placeholder_error {
  border: 2px solid red;
}

.input-label {
  background-color: #00ccff;
  display: block;
  width: 120px;
  margin-top: 10px;
  text-align: center;
}
